.header-font {
  font: normal normal 500 36px Poppins;
}

.font-16 {
  font: normal normal normal 16px Poppins;
}

.font-18 {
  font: normal normal normal 18px Poppins;
}

.font-24 {
  font: normal normal 500 24px Poppins;
}