/* Header CSS  start*/

:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --primary: 0, 88, 208;
  --green: 1, 147, 97;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(var(--black));
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 101;
}

.icon-container {
  margin-left: 100px;
}

nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  height: 100%;
}

.nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-item {
  position: relative;
  margin-right: 20px;
  color:  rgb(var(--white));
  padding: 0px 6px;
  cursor: pointer;
  font: normal normal 500 20px Poppins;
  letter-spacing: -0.4px;
  align-content: center;
  padding-bottom: 2px;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0; 
  background-color: currentColor; 
  transition: height 0.3s; 
}

.nav-item:hover::after {
  height: 3px; 
}

.nav-item .hover-card {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  width: 100vw;
  height: auto;
  background-color:  rgb(var(--black));
  color:  rgb(var(--white));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 100px;
  z-index: 100;
}

.nav-item:hover .hover-card {
  display: block;
}
.ul,
li {
  height: 100%;
}
nav ul li svg {
  transition: transform 0.3s ease;
}

nav ul li:hover svg {
  transform: rotate(180deg);
}
.hover-card h3 {
  margin-top: 0;
}

.hover-card a {
  text-decoration: none;
}

.about:hover, .nav-item:hover {
  border-bottom: 3px solid;
}

.hover-card a:hover {
  text-decoration: underline;
}

.segments-services {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.segments,
.services {
  width: 48%;
}

.segments h2,
.services h2 {
  border-bottom: 1px solid  rgb(var(--white));
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.segments-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.segment-card {
  position: relative;
}

.segment-card img {
  width: 278px;
  height: 133px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.segment-card:hover img {
  transform: scale(1.1);
}

.segment-title {
  position: absolute;
  bottom: 10px;
  left: 45px;
  padding: 5px 10px;
  border-radius: 5px;
  font: normal normal 500 20px/36px Poppins;
  letter-spacing: -0.4px;
}

.services-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.all-services {
  color:  rgb(var(--white));
  text-decoration: none;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  font: normal normal medium 18px/36px Poppins;
  letter-spacing: -0.36px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font: normal normal normal 20px/27px Poppins;
  letter-spacing: -0.4px;
}

.service-item {
  width: 30%;
}

.service-item:hover {
  border-bottom: 1px solid #ccc;
}

.menu-toggle {
  display: none;
}

header .logo img {
  max-height: 50px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 1rem;
  z-index: 99;
}

header .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

header .menu-toggle span {
  background:  rgb(var(--white));
  height: 2px;
  margin: 4px 0;
  width: 25px;
}
/* Header CSS  end*/

/* Product section */

.prod-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

.content-box {
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
}

.content {
  display: flex;
  padding: 20px;
  background: #1a1a1a 0% 0% no-repeat padding-box;
  border: 1px solid #717171;
  border-radius: 20px;
}

.icon {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.icon img {
  max-width: 100%;
  max-height: 100px;
}

.text {
  flex: 1;
}

.text h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.text p {
  margin: 0 0 20px;
}

.life-at-academian .text p {
  font: normal normal normal 16px/24px Poppins;
  letter-spacing: -0.72px;
}

.link {
  color:  rgb(var(--white));
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.a-plus-icon-hover {
  content: url("/assets/images/Group 8204.svg");
}

.content-box:hover .a-plus-icon {
  content: url("/assets/images/Group 8204 (2).svg");
}

.learning-pods-icon-hover {
  content: url("/assets/images/Group 8204 (2).svg");
}

.content-box:hover .learning-pods-icon {
  content: url("/assets/images/Group 8397 (1).svg");
}

/* Product end */

/* Careers start */
.careers-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

.section {
  flex: 1;
  margin-right: 20px;
}

.section:last-child {
  margin-right: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.vacancies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.vacancy {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.vacancy h3 {
  font: normal normal 500 20px/27px Poppins;
}

.vacancy:hover {
  background-color: #222;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.details span {
  margin-right: 10px;
}

.arrow {
  margin-left: auto;
}

.links {
  display: flex;
  justify-content: space-between;
  font: normal normal 500 18px/36px Poppins;
  letter-spacing: -0.36px;
}

.links a {
  color:  rgb(var(--white));
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}

.links a:hover {
  text-decoration: underline;
}

.life-at-academian .content {
  display: flex;
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.life-at-academian .life-image {
  width: 273px;
  height: 208px;
  margin-right: 20px;
  object-fit: cover;
}

.life-at-academian .text {
  padding: 20px;
}

.life-at-academian .text h3 {
  margin-top: 0;
  font: normal normal 500 24px/30px Poppins;
  letter-spacing: -0.48px;
}

.life-at-academian .text a {
  color:  rgb(var(--white));
  text-decoration: none;
  font-weight: bold;
}

.life-at-academian .text a:hover {
  text-decoration: underline;
}
/* Careers end */

/* Insider start */
.insider-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

.section {
  flex: 1;
  margin-right: 20px;
}

.section:last-child {
  margin-right: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.insider-content {
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.highlight {
  color: #888;
  margin-bottom: 10px;
}

h3 {
  margin: 10px 0;
}

p {
  margin: 10px 0 20px;
}

a {
  color:  rgb(var(--white));
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

.arrow {
  float: right;
}
/* Insider end */
