:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --primary: 0, 88, 208;
  --green: 1, 147, 97;
}

/* Media Queries for Mobile */
@media (max-width: 599px) {
  header nav ul {
    display: none;
  }

  header .menu-toggle {
    display: flex;
  }

  .icon-container {
    margin-left: 10px !important;
  }

  .share-icon,
  .learning-pods {
    display: none;
  }

  .app-image {
    padding-top: 2rem;
  }

  .fun-text,
  .social-text,
  .download-text,
  .learning-pods p,
  .learning-padiding {
    text-align: center;
    padding: 0% 10% !important;
  }

  .cards,
  .icons {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }

  .hover-image {
    width: 150px !important;
    height: 150px !important;
    background-size: contain !important;
  }

  .side-image {
    width: 92px !important;
    height: 175px !important;
  }
  .left-image,
  .right-image {
    margin-top: 10% !important;
  }

  .app-image img {
    width: 50%;
  }
  .text-card {
    width: 245px !important;
    padding: 0px !important;
    bottom: -52px !important;
  }
  .text-card p {
    font: normal normal 300 14px Poppins !important;
  }

  .social-learning {
    margin-top: 25% !important;
  }

  .space-card {
    margin-left: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .materials-card {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .hover-container div {
    display: none;
  }

  .lower-img {
    width: 45%;
    transform: translateY(-3rem) !important;
  }
  .svg-img {
    transform: translate(-50%, -39%) scale(0.3) !important;
  }
  .image-text h2 {
    font: normal normal normal 20px Poppins !important;
  }

  .icons img {
    width: 200px !important;
    height: 200px !important;
  }
  .heading {
    font: normal normal normal 30px Poppins !important;
  }

  .image-text {
    top: calc(25%) !important;
    padding: 0 0% !important;
  }

  .image-text p {
    font: normal normal 300 12px Poppins;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .learning-pods h2,
  .new-learning-process h2 {
    font: normal normal normal 18px Poppins !important;
  }
  .download-app {
    flex-direction: column !important;
  }

  .cta-buttons,
  .features-main {
    display: none;
  }

  .launching-ctr {
    display: flex;
    place-content: center;
  }
  .launching-btn {
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    background: transparent !important;
    border: 1px solid rgb(var(--white)) !important;
    border-radius: 30px;
    color: rgb(var(--white)) !important;
    transform: none !important;
    font: normal normal normal 14px Poppins;
    letter-spacing: -0.4px;
  }

  .main-container {
    padding-top: 14% !important;
  }

  .learning-pods p,
  .new-learning-process p {
    font: normal normal 300 12px / 36px Poppins;
    letter-spacing: -0.24px;
    color: rgb(var(--white));
  }

  #featureCarousel {
    display: flex;
  }

  .feature-card {
    width: 85% !important;
  }

  /* Cards Sections start*/
  .card-container {
    background-color: rgb(var(--white));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    color: rgb(var(--black));
    display: flex;
    flex-direction: column;
  }

  .description,
  .views,
  .category,
  .spaces-section p {
    color: rgb(var(--black)) !important;
  }

  .header-section {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-details {
    flex-grow: 1;
  }

  .user-details h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .user-details p {
    font-size: 0.8rem;
    color: #666;
  }

  .options-icon {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .body-section {
    padding: 10px;
  }

  .body-section h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .spaces-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .spaces-icon {
    font-size: 1.2rem;
    margin-right: 5px;
  }

  .body-section p {
    font-size: 0.7rem;
    margin-bottom: 5px;
  }

  .footer-section {
    padding: 10px;
    border-top: 1px solid #eee;
  }

  .interaction-icons {
    display: flex;
    justify-content: space-between;
  }

  .interaction-icons span {
    font-size: 0.7rem;
    cursor: pointer;
  }

  .learning-pods {
    overflow-y: auto !important;
  }

  /* Cards Sections end*/
}

@media (min-width: 600px) and (max-width: 1199px) {
  header .menu-toggle {
    display: flex;
  }
  .icon-container {
    margin-left: 10px !important;
  }

  .contact {
    width: 90px !important;
    height: 36px !important;
    border-radius: 15px !important;
    cursor: pointer;
    text-transform: uppercase;
    font: normal normal 500 12px Poppins !important;
  }
  .nav-item {
    display: none;
    /* margin-right: 10px !important;
    padding: 0px !important;
    font: normal normal 500 10px Poppins !important; */
  }

  .lower-img {
    transform: translateY(-5rem) !important;
    width: 73% !important;
  }

  header nav ul li {
    margin: 0 0rem !important;
  }

  .hover-image {
    width: 200px !important;
    height: 200px !important;
    background-size: contain !important;
  }

  .side-image {
    width: 120px !important;
    height: 200px !important;
  }
  .left-image,
  .right-image {
    margin-top: 18% !important;
  }

  .app-image img {
    width: 50%;
  }
  .text-card {
    width: 245px !important;
    padding: 0px !important;
  }
  .text-card p {
    font: normal normal 300 18px Poppins !important;
  }

  .download-app {
    flex-direction: column !important;
  }

  .image-text h2 {
    font: normal normal normal 20px / 48px Poppins !important;
  }

  .image-text p {
    font: normal normal normal 16px / 48px Poppins !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }

  .image-text {
    top: calc(25%) !important;
    padding: 0 0% !important;
  }

  .image-text p {
    font: normal normal 300 12px Poppins;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .learning-pods h2,
  .new-learning-process h2 {
    font: normal normal normal 20px Poppins !important;
  }

  .heading {
    font: normal normal normal 30px Poppins !important;
  }

  .materials-card {
    margin-left: 0rem !important;
    margin-top: 2rem !important;
  }

  .progress-card {
    margin-top: 2rem !important;
  }

  .learning-pods p,
  .new-learning-process p {
    font: normal normal 300 18px / 36px Poppins;
    letter-spacing: -0.24px;
    color: rgb(var(--white));
    padding: 0% 10% !important;
  }

  .images-wrapper {
    margin-top: 5rem !important;
  }

  .info h4 {
    font-size: 14px !important;
  }

  .info p {
    font-size: 12px !important;
  }

  .icons img {
    width: 300px !important;
    height: 300px !important;
  }

  .info-west {
    left: -7.5rem !important;
  }

  .info-east {
    top: 34.5%;
    right: -7.5rem !important;
  }

  .nav-item .hover-card {
    padding: 0% !important;
  }
}
