/* Media Queries for Mobile */
@media (max-width: 599px) {
  header nav ul {
    display: none;
  }

  header .menu-toggle {
    display: flex;
  }

  .cards,
  .features,
  .icons {
    flex-direction: column;
  }
  .nav-items {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  header .menu-toggle {
    display: none;
  }
}
