/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  color: #fff;
  background-color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1a1a1a;
}

header .logo img {
  max-height: 50px;
}

.logo {
  width: 40px;
  height: 35px;
  background: linear-gradient(135deg, #00ffb8, #00e9b8, #1f82ff);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 1rem;
}

header .menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

header .menu-toggle span {
  background: #fff;
  height: 2px;
  margin: 4px 0;
  width: 25px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.svg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%) scale(0.8);
  opacity: 0.5;
}

.png-img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.lower-img {
  transform: translateY(-15rem);
}

.image-text {
  position: absolute;
  top: calc(10% + -37px);
  padding-left: 6.5rem;
  padding-right: 6.6rem;
}

.image-text h2 {
  text-align: center;
  font: normal normal normal 80px/96px Poppins;
  letter-spacing: -1.6px;
  color: #ffffff;
}

.image-text p {
  text-align: center;
  font: normal normal 300 24px/42px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-left: 15rem;
  padding-right: 15rem;
}

h1,
p {
  margin-top: 20px;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transform: skewY(-15deg);
  transform-origin: top left;
  z-index: -1;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 2rem;
}

.hero .hero-image img {
  max-width: 100%;
  height: auto;
}

.cta-buttons {
  margin-top: -13%;
}

.hero .cta-buttons button {
  background: #fff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.hero .cta-buttons button:hover {
  transform: scale(1.05);
}

section {
  text-align: center;
}

.cards,
.features,
.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons img {
  background: #1a1a1a;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.3s;
}

.space-card {
  width: 300px;
  background-color: #e51777;
  border-radius: 0.6rem;
}

.process-card {
  margin-left: 2rem;
  width: 300px;
  background-color: #22b6ff !important;
  border-radius: 0.6rem;
}

.materials-card {
  margin-left: 2rem;
  width: 300px;
  background-color: #ffe115 !important;
  border-radius: 0.6rem;
}

.progress-card {
  margin-left: 2rem;
  width: 300px;
  background-color: #3f48f5 !important;
  border-radius: 0.6rem;
}

.features .feature:hover {
  transform: scale(1.05);
}

.features,
.new-learning-process {
  padding-top: 5%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }

  header .menu-toggle {
    display: flex;
  }

  .cards,
  .features,
  .icons {
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  header .menu-toggle {
    display: none;
  }
}

.learning-pods {
  padding-top: 5%;
  position: relative;
  height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.learning-pods h2,
.new-learning-process h2 {
  font: normal normal normal 60px/70px Poppins;
  letter-spacing: -1.2px;
}

.learning-pods p,
.new-learning-process p {
  font: normal normal 300 24px/36px Poppins;
  letter-spacing: -0.24px;
  color: #ffffff;
}

.new-learning-text {
  font: normal normal 300 24px/36px Poppins !;
  letter-spacing: -0.48px;
}

.learning-pods::-webkit-scrollbar {
  display: none;
}

.cards {
  height: 150vh;
  background-image: url("/assets/images/Scroll_Group_7.png");
  background-repeat: repeat-y;
  background-size: 100% calc(50% - 1px);
  background-position: center top;
  transition: background-position 0.3s ease;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav ul li:hover .dropdown-content {
  display: block;
}

.segments,
.services {
  padding: 12px 16px;
}

.segments div,
.services div {
  padding: 8px 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.small-card {
  width: 200px;
  height: 300px;
  opacity: 0.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-content: center;
}

.center-card {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.center-card:hover {
  transform: translateY(-10px);
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}

.card-content {
  background: #000000;
  color: #fff;
  text-align: center;
  margin: -10.6% 30%;
  border: 1px solid #fff;
  border-radius: 4px;
}

.card-content h2 {
  margin: 0;
  font: normal normal medium 42px/90px Poppins;
  letter-spacing: -1.89px;
}

.card-content p {
  margin-top: 10px;
  text-align: center;
  font: normal normal 300 24px/36px Poppins;
  letter-spacing: -0.48px;
}

.card-content h2 {
  margin: 0;
  font-size: 24px;
}

.card-content p {
  margin-top: 10px;
  font-size: 16px;
}

.center-card:hover .center-image {
  background-image: url("/mnt/data/image.png");
}

.center-card:hover .card-content {
  background: rgba(0, 0, 0, 0.9);
}

.left-image {
  background-image: url("/assets/images/Icon Box 3 (2).svg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: .5;
}

.showcase-left-image {
  background-image: url("/assets/images/Icon Box 1 (4).svg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: .5;
}

.stay-left-image {
  background-image: url("/assets/images/Icon Box 2.svg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: .5;
}

.right-image {
  background-image: url("/assets/images/Icon Box 2.svg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: .5;
}
.showcase-right-image {
  background-image: url("/assets/images/Icon Box 3 (2).svg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: .5;
}

.stay-right-image {
  background-image: url("/assets/images/Icon Box 1 (4).svg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: .5;
}

.center-card:hover {
  transform: translateY(-10px);
}

.center-image {
  background-image: url("/assets/images/Icon Box 1 (3).svg");
}

.center-card:hover .center-image {
  background-image: url("/assets/images/Icon Box 1 (4).svg");
}

.showcase-center-image {
  background-image: url("/assets/images/Icon Box 2 (3).svg");
}

.showcase-center-image:hover {
  background-image: url("/assets/images/Icon Box 2.svg");
}

.stay-center-image {
  width: 300px;
  background-image: url("/assets/images/Icon Box 3 (1).svg");
}

.stay-center-image:hover {
  width: 300px;
  background-image: url("/assets/images/Icon Box 3 (2).svg");
}

.center-card:hover .card-content {
  background: #000;
}

.contact {
  width: 136px;
  height: 46px;
  border-radius: 30px;
  cursor: pointer;
}

.contact:hover {
  background: transparent linear-gradient(162deg, #d4ff6a 0%, #00e9b8 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.items-center {
  align-items: center;
}

.feature-card {
  position: relative;
  width: 300px;
  height: 421px;
  border-radius: 0.6rem;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  background-color: #e51777;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  transition: opacity 0.3s;
}

.feature-card:hover .feature-arrow {
  opacity: 0;
}

.feature-image {
  width: 50%;
  height: 60%;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s;
  background-repeat: no-repeat;
}

.feature-image-content {
  background-image: url("/assets/images/More Space.svg");
}

.process-image-content {
  background-image: url("/assets/images/More Process.svg");
}

.materials-image-content {
  background-image: url("/assets/images/More Materials.svg");
}

.progress-image-content {
  background-image: url("/assets/images/More Progress.svg");
}

.feature-card:hover,
.process-card:hover,
.materials-card:hover,
.process-card:hover {
  background-color: #1a1a1a !important;
}

.feature-card:hover .feature-image {
  transform: translateY(-50%);
}

.feature-text {
  margin-top: 20px;
  transition: transform 0.3s;
}

.feature-card:hover .feature-text h2 {
  transform: translateY(-50%);
}

.hover-text {
  display: none;
}

.feature-card:hover .hover-text {
  display: block;
  margin-top: 20px;
}

.download-app {
  padding-top: 5%;
  display: flex;
}

.w-full {
  width: 100%;
}

.download-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 30px;
  transform: none !important;
  text-transform: uppercase;
  font: normal normal medium 20px/100px Poppins !important;
  letter-spacing: -0.4px;
  color: #000000;
}

.sign-up-btn {
  background: transparent !important;
  border: 1px solid #ffffff !important;
  border-radius: 30px;
  color: #fff !important;
  transform: none !important;
}
.heading {
  text-align: center;
  letter-spacing: -1.2px;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 1%;
}
.fun-text,
.social-text,
.download-text,
.learning-pods p {
  text-align: center;
  padding: 0% 25%;
}

.social-text {
  padding-bottom: 5%;
}

.share-icon img {
  width: 10rem;
}

.social-learning {
  text-align: center;
  margin-top: 10%;
}

.icons {
  position: relative;
  display: inline-block;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-trigger {
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hover-container:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.info {
  position: absolute;
  background-color: #262626;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-family: Poppins !important;
}

.info h4 {
  font-weight: normal;
  font-size: 18px;
}

.info p {
  font-weight: lighter;
  font-size: 16px;
}

.info-north {
  top: -3rem;
  left: 25%;
  transform: translateX(-50%);
}

.info-south {
  bottom: -2rem;
  left: 25%;
  transform: translateX(-50%);
}

.info-east {
  top: 42.5%;
  right: -14.5rem;
  transform: translateY(-50%);
}

.info-west {
  top: 42.5%;
  left: -14.5rem;
  transform: translateY(-50%);
}
