/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Poppins, sans-serif;
  color: #fff;
  background-color: #000;
}

.svg-img {
  position: absolute;
  transform: translate(-50%, -25%) scale(0.8);
}

.png-img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.lower-img {
  transform: translateY(-15rem);
}

.image-text {
  position: absolute;
  top: calc(25%);
  padding: 0 10%;
}

.image-text h2 {
  text-align: center;
  font: normal normal normal 80px/96px Poppins;
  letter-spacing: -1.6px;
  color: #ffffff;
}

.image-text p {
  text-align: center;
  font: normal normal 300 24px/42px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-left: 15rem;
  padding-right: 15rem;
}

h1,
p {
  margin-top: 20px;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transform: skewY(-15deg);
  transform-origin: top left;
  z-index: -1;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 2rem;
}

.hero .hero-image img {
  max-width: 100%;
  height: auto;
}

.cta-buttons {
  margin-top: -13%;
}

.hero .cta-buttons button {
  background: #fff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.hero .cta-buttons button:hover {
  transform: scale(1.05);
}

section {
  text-align: center;
}

.cards,
.features,
.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons img {
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  transition: transform 0.3s;
  width: 529px;
  height: 529px;
}

.space-card {
  width: 300px;
  background-color: #e51777;
  border-radius: 0.6rem;
}

.process-card {
  margin-left: 2rem;
  width: 300px;
  background-color: #22b6ff !important;
  border-radius: 0.6rem;
}

.materials-card {
  margin-left: 2rem;
  width: 300px;
  background-color: #ffe115 !important;
  border-radius: 0.6rem;
}

.progress-card {
  margin-left: 2rem;
  width: 300px;
  background-color: #3f48f5 !important;
  border-radius: 0.6rem;
}

.features .feature:hover {
  transform: scale(1.05);
}

.new-learning-process {
  padding-top: 5%;
}

.learning-pods {
  padding-top: 5%;
  position: relative;
  height: 475px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.learning-pods h2,
.new-learning-process h2 {
  font: normal normal normal 60px/70px Poppins;
  letter-spacing: -1.2px;
}

.learning-pods p,
.new-learning-process p {
  font: normal normal 300 24px/36px Poppins;
  letter-spacing: -0.24px;
  color: #ffffff;
}

.new-learning-text {
  font: normal normal 300 24px/36px Poppins !;
  letter-spacing: -0.48px;
}

.learning-pods::-webkit-scrollbar {
  display: none;
}

.cards {
  height: 200vh;
  background-image: url("/assets/images/Scroll_Group_7.png");
  background-repeat: repeat-y;
  background-size: 100% calc(50% - 1px);
  background-position: center top;
  transition: background-position 0.3s ease;
}

.contact {
  width: 136px;
  height: 46px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font: normal normal 500 20px Poppins;
}

.contact:hover {
  background: transparent linear-gradient(162deg, #d4ff6a 0%, #00e9b8 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.align-items-center {
  align-items: center;
  justify-content: right;
}

.feature-card {
  position: relative;
  width: 300px;
  height: 421px;
  border-radius: 0.6rem;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  background-color: #e51777;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  transition: opacity 0.3s;
}

.feature-card:hover .feature-arrow {
  opacity: 0;
}

.feature-image {
  width: 50%;
  height: 60%;
  background-size: contain;
  background-position: center;
  transition: transform 0.3s;
  background-repeat: no-repeat;
}

.feature-image-content {
  background-image: url("/assets/images/More Space.svg");
}

.process-image-content {
  background-image: url("/assets/images/More Process.svg");
}

.materials-image-content {
  background-image: url("/assets/images/More Materials.svg");
}

.progress-image-content {
  background-image: url("/assets/images/More Progress.svg");
}

.feature-card:hover,
.process-card:hover,
.materials-card:hover,
.process-card:hover {
  background-color: #1a1a1a !important;
}

.feature-card:hover .feature-image {
  transform: translateY(-62%);
}

.feature-text {
  margin-top: 20px;
  transition: transform 0.3s;
}

.feature-card:hover .feature-text h2 {
  transform: translateY(-50%);
}

.hover-text {
  display: none;
}

.feature-card:hover .hover-text {
  display: block;
  margin-top: 20px;
}

.download-app {
  padding-top: 5%;
  display: flex;
}

.w-full {
  width: 100%;
}

.download-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 30px;
  transform: none !important;
  text-transform: uppercase;
  font: normal normal 500 20px Poppins !important;
  letter-spacing: -0.4px;
  color: #000000;
}

.sign-up-btn {
  background: transparent !important;
  border: 1px solid #ffffff !important;
  border-radius: 30px;
  color: #fff !important;
  transform: none !important;
  font: normal normal 500 20px Poppins;
  letter-spacing: -0.4px;
}
.heading {
  text-align: center;
  letter-spacing: -1.2px;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 1%;
  font: normal normal normal 60px Poppins;
}
.heading p {
  font: normal normal 300 24px Poppins;
}
.fun-text,
.social-text,
.download-text,
.learning-pods p,
.learning-padiding {
  text-align: center;
  padding: 0% 25%;
}

.learning {
  font: normal normal 500 36px Poppins;
  border-bottom: 1px solid;
}

.learning-p {
  font: normal normal 300 18px/27px Poppins;
  letter-spacing: -0.81px;
}

.hover-card h3 {
  border-bottom: 1px solid;
}
.features {
  display: flex;
}
#featureCarousel {
  display: none;
}
